.tile { 
	background-color: #ccc;
	height: 150px;
	margin: 2px;
	cursor: pointer;
	text-align: middle middle;
	padding-top: 55px;
	border-radius: 5px;
	border: 2px solid #ccc;
	transition-duration: .5s;
}

.card-info {
	color: #ccc;
	font-size: 42px;
	margin-top: 20px;
}

.revealed {
	background-color: #fff;
	color: #ccc;
	height: 150px;
	margin: auto;
	cursor: pointer;
	text-align: middle middle;
	padding-top: 50%;
	border-radius: 5px;
	border: 2px solid #ccc;
	transition-duration: .5s;
}

.selected { 
	border-radius: 5px;
	border: 5px solid #6B4E71;
	background-color: #fff;
	color: #ccc;
	height: 150px;
	margin: 2px;
	cursor: pointer;
	text-align: middle middle;
	padding-top: 16px;

}

.matched {
	background-color: #fff;
	color: #F9DC5C;
	height: 150px;
	margin: 2px;
	cursor: pointer;
	text-align: middle middle;
	padding-top: 16px;
	border-radius: 5px;
	border: 5px solid #F9DC5C;
	transition-duration: .5s;
}

.card_matched {
	color: #F9DC5C;
}
p {
	margin-top: 10px;
	font-size: 40px;
	/*text-align: center;*/
	color: #6B4E71;
}
h1 {
	text-align: center;
}